name: Main workflow
on: push
jobs:
  Build:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:

      - name: Clone down repository
        uses: actions/checkout@v4

      - name: Upload repo(after build)
        run: ci/build-app.sh

      - name: Upload a Build
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: .
          include-hidden-files: true

  Linting:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Download code
        uses: actions/download-artifact@v4
        with:
          name: code
          path: .
          
      - name: Run Linting
        uses: super-linter/super-linter/slim@v7
        env:
         DEFAULT_BRANCH: main
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

